[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "oceanwaves"]
	path = oceanwaves
	url = https://github.com/millerlp/oceanwaves
